* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  height: 2500vh;
}
#logo {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;

}
header, .dropdown-menu {
  
  color:  #9370DB;
  background-color: #e7ceff;
  font-size: 14px;
  transition: .4s;
}
#nav-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#nav-top a:hover {
  color: #5d3fd3;
  background-color: #ffffff;
  border-radius: 30px;
  
}
#nav-bottom a{
  border-bottom: 3px solid #ffffff00 ;
  
}
#nav-bottom .nav-link:hover {
  color: #5d3fd3;
  border-bottom: 3px solid #5d3fd3 ;
  
}

.dropdown-menu ul li,a{
  list-style-type: none;
  text-decoration: none;
  line-height: 2.5;
  color:  #5D3FD3;
  font-size: 12px;
  font-weight: normal;
}
#header-carousal {
  background-color: #9f6afa;
  color: rgb(255, 255, 255);
}

