* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#logo,h2 {
  font-size:2.5rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-shadow: 0 0 2px #636363;
  font-style: italic;
}
h2 {
  font-size: 2rem;
  font-style:normal;
  color:  #9370DB;
}
header, #dropdown {
  
  color:  #9370DB;
  background-color: #e1c8fa;
  font-size: 16px;
  transition: .4s;
}
#nav-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#nav-top a:hover {
  color: #5d3fd3;
  background-color: #ffffff;
  border-radius: 30px;
  
}
#nav-bottom a{
  border-bottom: 3px solid #ffffff00 ;
  
}
#dropdown{
  position: absolute;
  top: 100;
  left: 0;
  z-index: 10000;
  visibility: hidden;
}
.nav-item:hover #dropdown {
  visibility: visible;
}
#nav-bottom .nav-link:hover {
  color: #5d3fd3;
  border-bottom: 3px solid #5d3fd3 ;
  
}

#dropdown ul li,a{
  list-style-type: none;
  text-decoration: none;
  color: #5d3fd3;
  cursor: pointer;
  
  line-height: 2.5;
  font-size: 12px;
  font-weight: 500;
}
#dropdown-subheading {
  font-weight: 700;
  font-size: 14px;
}
#dropdown a:hover {
  color: #000000;
  border-bottom: 1px solid #5d3fd3 ;
}
.dropdown-img {
  border: 1px solid #9f6afa;
  box-shadow: 0 0 10px  #9f6afa;
}
#header-carousal {
  background-color: #9f6afa;
  color: rgb(255, 255, 255);
}


#img-hidden {
  position: absolute;
  visibility: hidden;
  
}
.card:hover #img-hidden{
  visibility: visible;
}

#new-product-card {
  display: flex;
  width: max-content;
}

.new-product {
  width: 1028px;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 10px auto;
}
.new-product::-webkit-scrollbar {
  display: none;
}
#new-item {
  width: 300px;

}
.control-btn {
  position: relative;
}

#prev, #next {
  background-color: #9f6afa;
  padding: 20px 14px;
  margin: 10px;
  text-align: center;
  border: none;
  border-radius: 50%;
  opacity: .3;
  position: absolute;
  top: 190px;
  z-index: 8;
}
#prev {
  left: 0;
}
#next {
  right: 0;
}
#prev:hover, #next:hover {
  background-color: #aa56ff;
  opacity: 1;

}

#offer {
  position: relative; 
  margin-top: 60px ;
  margin-bottom: 120px;
  background-image: url(./images/offer\ banner.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}
#offer-content {
position: absolute;
top: 30%;
left: 60%;
}
#offer-content-alt {
position: absolute;
top: 40%;
}
#offer-content h2 {
  font-size: 50px;
}
#offer-content-alt h2 {
  font-size: 30px;
  margin: 0 10px;
}
#offer-content-alt .btn {
  font-size: 16px;
}
.btn {
background-color: #5d3fd3;
border-radius: 20px;
color: white;
margin-top: 20px;
}