* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  height: 2500vh;
}
#logo {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;

}
header {
  
  color: #9370db;
  background-color: #ebd6ff;
  font-size: 12px;
  transition: .4s;
}
#nav-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#nav-top a:hover {
  color: #5d3fd3;
  background-color: #ffffff;
  border-radius: 30px;
  
}
#nav-bottom a{
  border-bottom: 3px solid #f6d6ff ;
  
}
#nav-bottom a:hover {
  color: #5d3fd3;
  border-bottom: 3px solid #5d3fd3 ;
  
}
#header-carousal {
  background-color: #9f6afa;
  color: rgb(255, 255, 255);
}
